body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.calendar{
    width: 300px;
    height: auto;
    background-color: white;
    box-sizing: border-box;

}
.calendar .date{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}
.today{
    display: flex;
    grid-gap: 70px;
    margin-left: 10px;
}
.lower{
    display: flex;
    grid-gap: 85px;
    margin-left: 10px;
    height: 50px;
}
.seven{
    border-radius: 600%;
    background-color: red;
    line-height: 23px;
    text-align: center;
    padding: 5px;

    
}
