body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.calendar{
    width: 300px;
    height: auto;
    background-color: white;
    box-sizing: border-box;

}
.calendar .date{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}
.today{
    display: flex;
    grid-gap: 70px;
    margin-left: 10px;
}
.lower{
    display: flex;
    grid-gap: 85px;
    margin-left: 10px;
    height: 50px;
}
.seven{
    border-radius: 50%;
    
    background-color:orange;
    
    text-align: center;
    padding: 8px;
}
.previous_days{
    opacity: 0.4;
}
.day{
    opacity: 0.6;
}
hr{
    opacity: 0.2;
}
.plus{
    border-radius: 50%;
    width: 3cm;
    height: 2cm;
    
    background-color:orange;
    text-align: center;

}