<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="checker">
        <div>
            <label>
                Ім'я
                <input type="text" v-model="name" /> </label
              ><br />
              <label>
                Клас
                <input type="number" v-model.number="class" /> 
            </label><br ?>
                <label>
                    Стать
                    <input type="text" v-model="sex"/> 
                </label><br ?>
                <label>
                    Рік народження
                    <input type="number" v-model.number="burn_date"/> 
                </label><br ?>
              <button @click="AddStud">Додати</button>
        </div>
        <div>
                <tr v-for="(student,index) in studentList" :key="student.id">
                  <td>{{index+1}}</td>
                  <td>{{student.name}}</td>
                  <td>{{student.class}}</td>
                  <td>{{student.burn_date}}</td>
                  <td>{{student.sex}}</td>
                </tr>
        </div>
    </div>
    <script>
        var app = new Vue({
        el: "#app",
        data: {
          name: null,
          class: null,
          burn_date:0,
          sex:null,
          studentList: [
            {
              name: 'Антон Марко Олександрович',
              class: 11,
              burn_date:2002,
              sex:Чоловік
            }
          ]
        },
        methods:{
            AddStud(){
                this.studentList.push({
                    id:new.Date().getTime(),
                    name:this.name,
                    class:this.class,
                    burn_date:this.burn_date,
                    sex:this.sex
                })
            }
        }
    })

    </script>
</body>
</html>