body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calendar{
    width: 300px;
    height: auto;
    background-color: white;
    box-sizing: border-box;

}
.calendar .date{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}
.today{
    display: flex;
    grid-gap: 100px;
    margin-left: 10px;
}
.day{
    display: flex;
    margin: 10px;
    margin-right: 300px;
}